{% raw %}
{% form html-class:"d-flex d-lg-none ms-2 mt-2 badge bg-gradient-primary mb-0 me-auto d-lg-none d-inline-block border-0" %}
  <input name="authenticity_token" type="hidden" value="EnzYUyw6Ax0Dyt2olXG_bXPfXNqsTH0RSdWWX-H2DpXKu64SgZrjMXBsc6XfqnywcaEXRm6r0hCtLBoz6HD7CA">
  <button type="button" class="shadow-none text-uppercase text-white border-0 m-0 p-0 bg-transparent d-flex align-items-center" onclick="siteglide_logout_process(this,'')">
    <i class="fas fa-user"></i>
    <span class="text-base ms-1">Logout</span>
  </button>
{% endform %}
{% form html-class:"d-none d-lg-flex align-items-center btn btn-outline-light opacity-9 btn-round mb-0 ms-auto" %}
  <input name="authenticity_token" type="hidden" value="EnzYUyw6Ax0Dyt2olXG_bXPfXNqsTH0RSdWWX-H2DpXKu64SgZrjMXBsc6XfqnywcaEXRm6r0hCtLBoz6HD7CA">
  <button type="button" class="shadow-none text-uppercase text-light border-0 m-0 p-0 bg-transparent d-flex align-items-center fw-bold" onclick="siteglide_logout_process(this,'')">
    <i class="fas fa-user"></i>
    <span class="text-base ms-1">Logout</span>
  </button>
{% endform %}
{% endraw %}