{% raw %}
{% form %}
	<a class="btn btn-default d-flex align-items-center" href="javascript:void(0)" onclick="siteglide_logout_process(this,'{{_redirect}}')">
		<i class="fas fa-user text-base"></i>
		<span class="ms-1 text-base">Logout</span>
	</a>
{% endform %}
{% endraw %}