{%-raw-%}

<div class="col-12 col-sm-6">
  <h4 class="d-flex align-items-center mb-2 gap-3">
    <i class="fas fa-question-circle"></i>
    {{ this['Question'] }}
  </h3>
  <div>
    {{ this['Answer'] | html_safe }}
  </div>
</div>

{%-endraw-%}