<section class="py-7">
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-4 mx-auto">
        <input type="text" placeholder="Regular" class="form-control" >
      </div>
    </div>
  </div>
</section>