{% raw %}
  <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{this['name']}}">
    <img alt="{{this['Image Alt']}}" src="{{this['Image'] | asset_url}}">
  </a>
{% endraw %}