{% raw %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------ Cart URL ------ {% endcomment %}
{% assign cart_url = '/cart' %}
{% comment %} ------Display Only Price Settings-------
Siteglide's Products contain a Display Only Price which can be used flexibily. If your Products use the Display only Price to show original price before a global discount, you could set "show_display_price_crossed_out" to true. {% endcomment %}
{% assign show_display_price_crossed_out = true %}
{% comment %} ---End Settings--- {% endcomment %}
{% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
<section data-product-group class="py-5">
	<div class="container">
		<div class="row d-flex flex-wrap">
			{%- include 'modules/siteglide_ecommerce/ecommerce/get/get_products', item_layout: 'item' -%}
		</div>
	</div>
</section>

{% endraw %}