<div class="p-3 info-horizontal">
  <div class="icon icon-shape rounded-circle {{ field_map['Background Color'] | default: 'bg-gradient-primary'}} shadow text-center">
    <i class="fas {{field_map['Icon Class'] | default: 'fa-ship'}} opacity-10"></i>
  </div>
  <div class="description ps-3">
    <p class="mb-0">{{field_map['Description Short']}}</p>
  </div>
</div>