{%-raw-%}

{% if form.properties.order_id %}
  {% comment %} Form Submission is an eCommerce Order {% endcomment %}
  {% include "ecommerce/order_details", layout: layout, form: this %}
{% else %}
  <section>
    <div class="container py-8">
      <div class="row pb-4">
        <h2>Thanks for getting in touch!</h2>
      </div>
      <div class="row py-4">
        {% comment %} Form Submission is not an eCommerce Order {% endcomment %}
        <h4>Nice to meet you <span class="text-primary">{{this.name}}</span>! </h4>
        <h4>We'll get back to your query as soon as possible.</h4>
      </div>
    </div>
  </section>
{% endif %}

{%-endraw-%}