{%- raw -%}
{% comment %} --- Settings ---{% endcomment %}
{% comment %} ------Privacy Policy URL------- {% endcomment %}
{% assign privacy_policy_url = "/privacy-policy" %}
{% comment %} --- End Settings --- {% endcomment %}
{% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

{% if context.exports.sitebuilder.cookie_preferences_js == blank %}
  <script async src="{{'modules/module_86/js/v1/sitegurus_cookie_settings.js' | asset_url }}"></script>
  {% assign cookie_preferences_js = true %}
  {% export cookie_preferences_js, namespace: sitebuilder %}
{% endif %}
  
<section id="cookie_settings_{{sitebuilder_uniq_component_id}}" class="container">
  <div class="p-5">
    <h2 class="mb-5">Cookie Preferences</h2>
    <p class="lead mb-5">We use cookies to personalize content and analyze traffic to our website. {% if context.exports.company_information.properties.google_analytics_id != blank %} You can choose to accept only cookies that are necessary for the website to function or to also allow tracking cookies.{% else %}We only use cookies which are necessary for the website to function.{% endif %} For more information, please see our <a href="{{privacy_policy_url}}" class="link-primary">privacy policy</a>.</p>
    {% comment %} <p class="mb-3 text-gray-500 dark:text-gray-400 text-center">{% if context.cookies.sg-cookie-policy-settings == "essential-only" %}You are currently allowing essential cookies only.{% elsif context.cookies.sg-cookie-policy-settings == "all" %}You are currently allowing all cookies.<br><br> Thanks, we really appreciate this, as it helps us improve our service.{% endif %}</p> {% endcomment %}
    <div class="mb-5">
      {%- if context.exports.company_information.properties.google_analytics_id != blank %}
        <div class="form-check">
          <input {% if context.cookies.sg-cookie-policy-settings == "all" %}checked{% endif %} disabled data-sg-cookie="all" id="cookie-preference-1" type="radio" value="" name="cookie-preference" class="form-check-input">
          <label for="cookie-preference-1" class="form-check-label">Accept all</label>
        </div>
        
      {% endif %}
      <div class="form-check">
          <input {% if context.cookies.sg-cookie-policy-settings == "essential-only" %}checked{% endif %} disabled data-sg-cookie="essential-only" id="cookie-preference-2" type="radio" value="" name="cookie-preference" class="form-check-input">
          <label for="cookie-preference-2" class="form-check-label">Accept essential cookies only</label>
        </div>
    </div>
    <div id="cookiePreferenceSuccessMessage" class="alert alert-success d-none" role="alert">
      <span class="fw-bold">Success!</span> Your preferences have been saved.
    </div>
  </div>
</section>

<script>
  (function () {
    if (
      document.readyState === 'complete' 
      || document.readyState === 'loaded' 
      || document.readyState === 'interactive'
    ) {
      init();
    } else {
      //Set event listener or timeout.
      document.addEventListener('sgCookiePreferencesAfterUpdate', init);
    }
    function init() {
      var section = document.querySelector('#cookie_settings_{{sitebuilder_uniq_component_id}}');
      var success = section.querySelector('#cookiePreferenceSuccessMessage');
      if(success) {
        success.classList.add('d-none');
        window.setTimeout(
          function() {
            success.classList.remove('d-none');
          },500
        );
      }
    }
  })();
</script>
{%- endraw -%}