{%-raw-%}

<div class="col-12 col-md-6 col-lg-4">
  <div class="info">
      <div class="icon icon-shape bg-gradient-dark p-3 shadow text-center d-flex align-items-center justify-content-center mb-4">
          <span class="text-white text-sm font-weight-bolder">{{forloop.index}}</span>
      </div>
      <h6>{{field_map['Title']}}</h6>
      <p>{{field_map['Description Short']}}</p>
  </div>
</div>
  
{%-endraw-%}