{% raw %}
<div class="col-md-3">
  <h1 class="text-gradient text-primary">{{field_map['Value']}}</h1>
  <h5 class="mt-3">{{field_map['Type']}}</h5>
  <p>{{field_map['Description']}}</p>
</div>
{% endraw %}