{% raw %}
<button class="w-100 btn bg-gradient-success px-4 py-2 mb-2" onclick="s_e_cart_add('{{this.id}}')">Add to cart</button>
<button class="w-100 btn bg-gradient-primary px-4 py-2 mb-0" onclick="s_e_cart_add('{{this.id}}', function() {
	window.location.href = '{{cart_url | html_safe}}';
})">Buy now</button>
{% endraw %}